*{
  background:white;
  padding:40px;
  border-radius:20px;
  text-align:center;
  width:350px;
}

input{
  width:100%;
  padding:12px;
  margin-top:15px;
  border-radius:10px;
  border:1px solid gray;
}

.game-body{
  background:#222;
}

.gameArea{
  width:400px;
  height:100vh;
  background:#444;
  margin:auto;
  position:relative;
  overflow:hidden;
  border-left:5px solid white;
  border-right:5px solid white;
}

.car{
  width:80px;
  position:absolute;
  bottom:120px;
  left:160px;
}

.roadLine{
  width:10px;
  height:100px;
  background:white;
  position:absolute;
  left:195px;
  animation:moveRoad 1s linear infinite;
}

@keyframes moveRoad{
  from{
    top:-100px;
  }
  to{
    top:100vh;
  }
}

.score-box{
  position:absolute;
  top:20px;
  left:20px;
  color:white;
  font-size:30px;
}